@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}
